@import "../../styles/variables";
.container-about {
  background-color: $background;

  .about-section-1 {
    .title-about {
      color: $blue;
      font-size: 70px;
      font-weight: 600;
    }

    .descrip-about {
      color: #fff;
      font-weight: 600;
    }

    height: 500px;

    .img-about {
      margin-top: -150px;
    }
  }
}

.container-section-2 {
  background-color: $blue;
  display: flex;
  flex-direction: row;
  .mision-container {
    background: transparent;
    border: none;
    // width: 40%;

    .mision {
      color: #fff;
      font-weight: 600;
      font-size: 60px;
    }

    .mision-descrip {
      font-size: 18px;
      padding: 1rem;
      color: #fff;
    }
  }

  .vision-container {
    background-color: $background;
    clip-path: polygon(28% 0, 100% 0, 100% 100%, 0% 100%);
    // width: 60%;
    border: none;

    .vision {
      color: #fff;
      font-weight: 600;
      font-size: 60px;
      text-align: right;
    }

    .vision-descrip {
      font-size: 18px;
      color: #fff;
      text-align: right;
      padding: 2rem;
      font-weight: 600;
      margin-left: 70px;
    }
  }
}

.container-section-3 {
  .valores {
    font-weight: 600;
    font-size: 70px;
    color: $blue;
  }

  .card {
    text-align: center;
    background-color: $background;
    border: none !important;
    &-title {
      font-size: 30px;
      font-weight: 600;
      color: $blue;
      text-transform: uppercase;
    }

    &-text {
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .img-about {
    width: 320px;
  }

  .vision-container {
    clip-path: none !important;

    .card-title {
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .mision {
      font-size: 40px;
      display: flex;
      justify-content: center;
    }

    .card-text {
      text-align: center;
    }

    .mision-descrip {
      display: flex;
      justify-content: center;
      font-size: 14px;
    }
  }

  .container-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }

  .about-section-1 {
    margin-bottom: 550px;
  }
}
