@import "../../styles/variables";

.card-status {
    width: 82vw;
    height: 200px;
    background-color: #2C2832;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .product-name {
        font-size: 2rem;
        color: $blue;
    }

    .title-status {
        color: #fff;
        font-size: 1rem;
    }
    .title-pre {
        color: #198754;
        font-weight: 600;
        font-size: 1rem;
    }
}

@media(max-width: 768px) {
    .card-up {
        flex-direction: column!important;
    }
    .form-order {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }
}