@import "../../styles/variables.scss";

.container-register {
    background-color: $background;
    height: 100vh;
}

@media (max-width: 768px) {
    .container-register {
        height: 100vh;
    }

    .singupImg {
        width: 100%;
        height: auto;
    }
}