#success {
  background-color: #1c1a20b3 !important;
  border-radius: 50px;
  border-color: #c3e6cb;
  color: #d3ffdd;
}

.success {
  color: #4878d0;
  font-size: 2rem;
  margin-right: 1rem;
}

#danger {
  background-color: #1c1a20b3 !important;
  border-radius: 50px;
  border-color: #c3e6cb;
  color: #ffcdd2;
}

.danger {
  color: #4878d0;
  font-size: 2rem;
  margin-right: 1rem;
}
