@import "../../styles/variables";

.container-follow {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: $background;
    .follow-title {
        color: $blue;
        text-align: center;
    }
}


