@import "../../styles/variables";

.container-follow {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  .follow-title {
    color: $blue;
    text-align: center;
  }

  .text-dev {
    color: $gray;
  }
}

@media (max-width: 768px) {
  .container-follow {
    height: 100% !important;
  }
}
