@import "../../styles/_variables";

.card-status {
    width: 82vw;
    height: 200px;
    background-color: #2C2832;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .product-name {
        font-size: 2rem;
        color: $blue;
    }

    .img-product {
        width: 80px;
        height: 80px;
        border-radius: 20%;
    }

    .title-status {
        color: #fff;
        font-size: 1.5rem;
    }

    .icon-status {
        color: $blue;
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .card-status {
        width: 90vw !important; 
        height: 74vh !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 1rem;

    }
}