@import "../../styles/variables";
.login {
    width: 90px;
    height: 35px;
    border-radius: 10px;
    // color: #fff;
    background-color: $blue;
    padding: 1rem;
    > .text-login {
        color: #fff;
    }

    > .login-icon {
        color: #fff;
    }

}

.register {
    width: 110px;
    height: 35px;
    border-radius: 10px;
    background-color: $blue;
    padding: 1rem;
    > .register-text {
        color: #fff;
    }

    > .register-icon {
        color: #fff;
    }
}

.shipping {
    width: 200px;
    height: 35px;
    background-color: $blue;
    border-radius: 10px;
    > .shipping-text {
        color: #fff;
    }

    > .shipping-icon {
        color: #fff;
    }
}